@import '../../styles/variables';

$headerTextColor: #fff;
$headerBackgroundColor: #255aaa;
$profileMenuAnimationDuration: 0.2s;

.header {
    height: $header-height;
    background-color: $headerBackgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:after {
        $shadowHeight: 8px;
        content: '';
        width: 100%;
        height: $shadowHeight;
        position: absolute;
        bottom: -$shadowHeight;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.17) 52%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.17) 52%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.17) 52%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    $gridHeight: 50px;
    &__grid {
        display: grid;
        grid-template-columns: calc(#{$left-bar-width - ($contentPadding * 2)}) auto min-content;
        grid-template-rows: $gridHeight;
        grid-column-gap: $contentPadding;
        padding-left: $contentPadding;
        padding-right: $contentPadding;
        align-items: center;

        &__breadcrumb {
            max-height: $gridHeight;
            color: $headerTextColor;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            * {
                color: $headerTextColor;
                text-decoration: none;
            }

            svg {
                margin: auto 8px;
            }
        }

        &__logo {
            height: $gridHeight;
            display: flex;
        }

        &__menu {
            color: $headerTextColor;
            background-color: $headerBackgroundColor;
            text-align: right;
            position: relative;
            transition: all 0.2s ease-in;
            z-index: 3;

            &__profile-menu-link {
                &__chevron {
                    margin-bottom: 0;
                    margin-left: 5px;

                    > svg {
                        transition: all $profileMenuAnimationDuration ease-in;
                    }

                }

                &__chevron--down {
                    > svg {
                        transform: rotate(-180deg);
                        transition: all $profileMenuAnimationDuration ease-in;
                    }
                }
            }

            a {
                color: $headerTextColor;
                text-decoration: none;
                margin-left: 15px;
                cursor: pointer;
                white-space: nowrap;

                > svg {
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }

            &__profile-menu {
                width: 130px;
                background: $leftBarColor;
                position: absolute;
                top: calc(100% + 5px);
                right: 0;
                opacity: 100%;
                z-index: 2;
                padding: 10px 0;
                transition: opacity $profileMenuAnimationDuration ease-in;
                box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.5);

                &--hidden {
                    opacity: 0;
                    transition: opacity $profileMenuAnimationDuration ease-in;
                    pointer-events: none;
                }

                > a {
                    color: $textColor;
                    display: block;
                    text-align: left;
                    padding: 10px 21px;
                    margin-left: 0;
                }

                > a:hover {
                    background: darken($leftBarColor, 5);
                }
            }

        }
    }

    svg {
        margin-bottom: 1px;
    }
}